/* Establishing Basics */

h3 {
  font-size : 1.2em;
  font-weight: 600;

}
h2 {
  font-size: 2.6em;
}

h4 {
  font-size: 3em;
  text-decoration: none;
}

h5 {
  font-size: 1.8em;
}

.transparent {
  box-shadow: none;
}



.logo-nav{
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  height: 40px;
}
.banner {
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, rgba(10, 140, 200, 0.5), rgba(20, 30, 130, 0.5)), url('/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: -64px;
  text-align: center;

}

.faq{
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fcfcfc;
  background: -moz-linear-gradient(-45deg, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-linear-gradient(-45deg, #fcfcfc 0%,#e0e0e0 100%);
  background: linear-gradient(135deg, #fcfcfc 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=1 );

}

.faq .faq-header {
  text-align: center;
  font-size: 3em;
  margin-bottom: 50px;
}

.info {
  color: white;
  background: #42a5f5;
  background: -moz-linear-gradient(-45deg, #42a5f5 0%, #5479a5 100%);
  background: -webkit-linear-gradient(-45deg, #42a5f5 0%,#5479a5 100%);
  background: linear-gradient(135deg, #42a5f5 0%,#5479a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#5479a5',GradientType=1 );
}

.registration-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fcfcfc;
  background: -moz-linear-gradient(-45deg, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-linear-gradient(-45deg, #fcfcfc 0%,#e0e0e0 100%);
  background: linear-gradient(135deg, #fcfcfc 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=1 );

}

.spons-reg {
  color: white;
  background: #42a5f5;
  background: -moz-linear-gradient(-45deg, #42a5f5 0%, #5479a5 100%);
  background: -webkit-linear-gradient(-45deg, #42a5f5 0%,#5479a5 100%);
  background: linear-gradient(135deg, #42a5f5 0%,#5479a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#5479a5',GradientType=1 );
  padding-top: 30px;
  padding-bottom: 30px;

}

footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, rgba(10, 140, 200, 0.5), rgba(20, 30, 130, 0.5)), url('/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  font-size: 0.75em;
}

@media (min-width: 750px){
  .nav-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}






/* Phone */
