@font-face {
  font-family: 'Avenir Light';
  src: url('/fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('/fonts/Avenir-Heavy.ttf') format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Avenir Light', Helvetica, sans-serif;
  color: #454545;
  letter-spacing: -0.02rem;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.main {
  padding: 40px 15px;
  width: 90%;
  margin: auto;
}

.main div {
  margin: auto;
}

.overlay {
  width: 100%; height: 100%;
  position: fixed;
  opacity: 0.75;
  background-color: black;
  z-index: 1;
  display: none;
}

#mentor-req-form {
  position: absolute;
  border-radius: 4px;
  padding: 60px;
  background: white;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

#mentor-req:hover, #mentor-req-form p:hover {
  cursor: pointer;
}

#mentor-req-form input {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

h2 {
  font-size: 3em;
}

header {
  background: linear-gradient(45deg, #31abe0, #2f3590);
  color: white;
  text-align: center;
  padding: 20px;
  height: 100px;
}

header .content div {
  display: inline-block;
}

header .logo img {
  width: 60px;
}

nav {
  width: 100%;
  padding: 5px;
  max-height: 50px;
  color: white;
  background: #2f4c9f;
  overflow: hidden;
  z-index: 100;
  text-align: center;
}

nav a {
  color: white;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding-left: 0px;
}

nav ul li {
  display: inline-block;
  margin: 5px 15px;
  opacity: 0.75;
}

nav ul li:hover {
  opacity: 1;
}

.title {
  font-weight: bold;
}

.sch {
  display: inline-block;
}

.heavy {
  font-family: 'Avenir Heavy';
  color: #41c4ff;
}

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

ul.social {
  padding-left: 0;
  margin: auto;
  padding: 10px;
  list-style-type: none;
}

ul.social li {
  display: inline-block;
}

ul.social li a {
  color: inherit;
  opacity: 0.8;
  padding: 10px;
  font-size: 1.1em;
}

ul.social li a:hover {
  opacity: 1;
  cursor: pointer;
}

/* NOW */

#now {
  background: #273775;
  color: white;
  padding: 10px;
  text-align: center;
}

#now h3 {
   font-family: 'Avenir Heavy';
   letter-spacing: -0.04rem;
}

/* SCHEDULE */

.sch {
  padding: 5px 25px;
}

.sch td {
  padding: 5px 10px;
}

.sch .location {
  color: #808080;
}

/* CHAT */

#chat {
  height: 500px;
}

#chat ul#chatList {
  padding-left: 0;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  max-width: 350px;
}

#chat ul#chatList li p.message {
  color: white;
  background: #2979FF;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#chat ul#chatList li p.user {
  color: #808080;
  text-align: left;
  font-size: 80%;
  margin-bottom: 2px;
}

#chat .changeUsername {
  font-size: 80%;
  color: #808080;
}

#chat .changeUsername:hover {
  cursor: pointer;
  color: #aaaaaa;
}

#chat input {
  margin-top: 25px;
  padding: 15px 5px;
  width: 380px;
}

#chat #chatWindow {
  overflow-y: hidden;
}

/* MENTORS */

.button {
  padding: 10px;
  color: white;
  margin: 20px auto;
  background: #3ebbf3;
  border-radius: 5px;
  max-width: 200px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.mentor-bios-title {
    text-align: center !important;
}

.mentor-list-item, .prize-list-item {
    padding: 20px;
    text-align: center;
}

.mentor-list-item .pic {
    margin: 0 auto;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.mentor-list-item .info, .prize-list-item .info {
    padding: 0px 20px;
}

.mentor-list-item h3, .prize-list-item h3 {
    font-family: "Avenir-Heavy";
    margin-top: 20px;
}

.mentor-list-item strong, .prize-list-item strong {
    font-family: "Avenir-Heavy";
}

@media screen and (min-width: 601px) {
    .mentor-bios-title {
        text-align: left;
        margin-left: 20px;
    }
    
    .mentor-list-item, .prize-list-item {
        text-align: left;
    }
    
    .mentor-list-item .pic {
        float: left;
        border-radius: 100%;
        width: 150px;
        height: 150px;
    }
    
    .mentor-list-item h3, .prize-list-item h3 {
        margin-top: 4px;
    }
    
    .mentor-list-item .info {
        margin-left: 150px;
        padding: 0px 20px;
        min-height: 150px;
    }

    .prize-list-item .info {
        padding: 0px 20px;
    }
}

@media screen and (min-width: 768px) {
    .mentor-list-item {
        min-height: 260px;
    }
}