h3 {
  font-size : 1.2em;
  font-weight: 600;

}
h2 {
  font-size: 2.6em;
}

h4 {
  font-size: 3em;
  text-decoration: none;
}

h5 {
  font-size: 1.8em;
}

h1{
  font-size: 1.5em;
}

@media( min-width: 750px){
  h1 {
    font-size: 3em;
  }
}
.transparent {
  box-shadow: none;
}
#map {
 height: 400px;
 width: 700px;
}
.about {
    padding-top: 20vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(10, 140, 200, 0.5), rgba(20, 30, 130, 0.5)), url('https://scontent-lga3-1.xx.fbcdn.net/v/t35.0-12/14632608_1684987571819751_997197675_o.jpg?oh=bc00ba2bde81fbf3905e752213070390&oe=58FA6ED3');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: -64px;
    text-align: center;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30vh;


}

.info {
  color: white;
  background: #42a5f5;
  background: -moz-linear-gradient(-45deg, #42a5f5 0%, #5479a5 100%);
  background: -webkit-linear-gradient(-45deg, #42a5f5 0%,#5479a5 100%);
  background: linear-gradient(135deg, #42a5f5 0%,#5479a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#5479a5',GradientType=1 );

}

.registration-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

footer{
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, rgba(10, 140, 200, 0.5), rgba(20, 30, 130, 0.5)), url('/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  font-size: 0.75em;
}

.faq {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fcfcfc;
    font-size: 1em;
    background: -moz-linear-gradient(-45deg, #fcfcfc 0%, #e0e0e0 100%);
    background: -webkit-linear-gradient(-45deg, #fcfcfc 0%,#e0e0e0 100%);
    background: linear-gradient(135deg, #fcfcfc 0%,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=1 );

  }

.faq-header {
  text-align: center;
}
.where {
  height: 500px;
  width: 100%;
  
  color: white;
  background: #42a5f5;
  background: -moz-linear-gradient(-45deg, #42a5f5 0%, #5479a5 100%);
  background: -webkit-linear-gradient(-45deg, #42a5f5 0%,#5479a5 100%);
  background: linear-gradient(135deg, #42a5f5 0%,#5479a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42a5f5', endColorstr='#5479a5',GradientType=1 );


}
